@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind forms;

@layer base {
  :root {
    --color-text-base: 17, 24, 39 ; /* 17, 24, 39 #111827 coolGray - 900 */
    --color-primary: 67, 56, 202; /* 67, 56, 202 #4338ca indigoBlue - 700 */
    --color-secondary: 55, 65, 81; /* 55, 65, 81 #374151 coolGray - 700 */
    --color-danger: 240, 68, 68; /* 240, 68, 68 #f04444 red - 500 */
    --color-success: 5, 150, 105; /* 5, 150, 105 #059669 green-600  */
    --color-warning: 245, 158, 11; /* 245, 158, 11 #F59E0B Yellow - 500 */
    --color-info: 29, 78, 216; /* 191, 219, 254 #1D4ED8 blue - 700 */
    --color-white: 255, 255, 255;
    --color-gray-400:156,163,175 /* 156,163,175 #9CA3AF gray-400 */
  }
}

.checkbox input:checked + .icon-src {
  display: block !important;
}

.radio input:checked + .icon-src {
  display: block !important;
}

.toggle input:checked ~ .dot {
  transform: translateX(100%);
}
